{% extends "layout.html" %}
{% block fb %}
<script>
  var fbtoken;

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '733670553423793',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.1'
    });
      
    FB.AppEvents.logPageView();

    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        fbtoken = response.authResponse.accessToken;
      } else {
        window.location.assign("/login");
      }
    });
  };
  
  (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
{% endblock %}
{% block fblogout %}
<script>
  function logOut(){
    FB.logout(function(response) {
      location.reload()
    });
  }
</script>
<a href="" onClick="logOut()">logout</a>
{% endblock %}