{% extends "facebookRequired.html" %}
{% block title %}English Subtitled Admin: Choose file{% endblock %}
{% block content %}
Wybierz plik pośredni lekcji, nad którą chcesz pracować:
<form action="/worksheet" method="post">
    <select name="File" class="form-control" >
    {% for formatted,filename in folder_content.items() %}
        <option value="{{filename}}">{{formatted}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Dalej" class="btn btn-primary" />
</form>
{% endblock %}