{% extends "facebookRequired.html" %}
{% block title %}English Subtitled Admin: Choose file{% endblock %}
{% block content %}
<h2>Wybór pliku</h2>
<p>Wybierz plik pośredni lekcji, nad którą chcesz pracować:</p>
<form action="/worksheet" method="post">
    <div class="input-group mb-3">
        <select name="File" class="form-control form-control-lg" >
            <optgroup label="Nieprzetworzone">
                {% for entry in folder_content | dictsort %}
                <option value="{{entry[1]}}">{{entry[0]}}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="Archiwum">
                {% for entry in archive_content | dictsort %}
                <option value="{{entry[1]}}">{{entry[0]}}</option>
                {% endfor %}
            </optgroup>
        </select>
        <div class="input-group-append">
            <input type="submit" value="Dalej" class="btn btn-dark" style="padding-left: 25px; padding-right: 25px;" />
        </div>
    </div>
</form>
{% endblock %}