{% extends "facebookRequired.html" %}
{% block title %}English Subtitled Admin: Worksheet{% endblock %}
{% block content %}
<h1>Dodawanie lekcji zakończone niepowodzeniem</h1>
<table class="table table-sm table-bordered" style="width: 20%">
    <tr class="thead-dark"><th>Kod błędu</th>
        <td><b>{{error_code}}</b></td>
    </tr>
</table>
<h2>Wysyłana wiadomość</h2>
<pre>{{lesson}}</pre>
<p>Możesz ją skopiować i wysłać później</p>
<a href="/" class="btn btn-secondary btn-danger">Powrót - zmiany zostaną utracone</a>
{% endblock %}