{% extends "facebookRequired.html" %}
{% block title %}English Subtitled Admin: Worksheet{% endblock %}
{% block content %}
<form id="worksheet" action="/upload_lesson" method="post">
Tytuł filmu <input type="text" name="film_title" value="{{title}}" />
Tytuł lekcji <input type="text" name="lesson_title" value="{{title}}" />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Angielski</th>
            <th scope="col">Polski</th>
            <th scope="col">Kontekst</th>
            <th scope="col">Propozycje</th>
            <th scope="col">Uwzględnij</th>
        </tr>
    </thead>
    <tbody>
        {% for word in words %}
        {% set index = loop.index0 %}
        <tr>
            <td>{{word[0]}} <input type="hidden" name="{{index}}_eng" value="{{word[0]}}" /></td>
            <td><input id="t{{index}}" name="{{index}}_pl" type="text" value="{{word[2]}}"></td>
            <td>{{word[1].split(word[0])[0]}}<b>{{word[0]}}</b>{{word[1].split(word[0])[1]}}</td>
            <td>{% for suggestion in word[2:] %}<input type="button" value="{{suggestion}}" onClick="$('#t{{index}}').val('{{suggestion}}');"/>{% endfor %}</td>
            <td><input type="checkbox" name="{{index}}_apply" checked /></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<input type="hidden" id="facebook_field" name="facebook_field" />
<input type="hidden" name="file_name" value="{{filename}}" />
<input type="submit" />
</form>
<script>
    $('#worksheet').submit(function() {
        $('#facebook_field').val(fbtoken);
        return true;
    });
</script>
{% endblock %}